.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

ion-card {
	margin-top: 10px;
	vertical-align: middle;
	width: 100%;
}

.col {
	flex: 33%;
	max-width: 33%;
}

@media screen and (max-width: 800px) {
	.col {
		flex: 50%;
		max-width: 50%;
		padding-right: 10px;
	}
	.row {
		padding-right: 10px;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col {
		flex: 100%;
		max-width: 100%;
		padding-right: 10px;
	}
	.row {
		padding-right: 10px;
	}
}
